.contenedor{
    display: flex;
    margin: 50px;
    color: bisque;
    
}
.box{
    width:600px;
    height:210px;
    overflow-y: scroll;
    border-radius:50px;
    color: bisque;
    background-color: rgb(158, 35, 35);
    text-decoration: none;
}


.titulo{
    margin-top: 0;
    margin-bottom: 0px;
}
.imagen{
    margin-right:50px;
    width:550px;
    height:300px;
    border-radius:50px;
}

.marco{
    background-color: rgb(158, 35, 35);
   
    border-radius: 50px;
    color: bisque;
}
.ajuste{
    color: bisque;
    
    border-radius: 50px;
    margin-right:50px;
    background-color: rgb(158, 35, 35);

}
.box2{
   
    color:bisque;
    text-decoration: none;
}
.box3{
     background-color: rgb(158, 35, 35);
      margin: 0px 655px;
      border-radius: 10px;
}  