 .fondo{
    background-color:bisque;
    height:683px;
}

.home{
    background-color: rgb(158, 35, 35);
    margin-top:50px;
    border:0px;
    border-radius:20px;
    padding:10px 60px;
    font-size:25px;
    color:bisque;
    cursor: pointer;
}
.letras{
    color:rgb(158, 35, 35);
    font-size:60px;
    padding-top:150px;
}


